# ─── OpenWeatherMap ───────────────────────────────────────────────────────────
# Daftar gratis di: https://openweathermap.org/api
VITE_OWM_KEY=6e0e2ea376e53764bf4e56b2327f88d1

# ─── Supabase ─────────────────────────────────────────────────────────────────
# Buat project di: https://supabase.com
VITE_SUPABASE_URL=https://kkcvjzajsbsbebepmdys.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_62PlWUA0oGnMw3MDQ8VVLQ_CPWgXszG
